# Ignore everything
**

# Allow files and directories
# !/submodules
!/.qovery.yml

!/packages/nuxt/dist
!/packages/server/dist
!/packages/server/assets
!/packages/server/package.json
!/packages/server/yarn.lock

/packages/server/assets/*.db
**/node_modules
