[submodule "submodules/npm-zhlevel"]
	path = submodules/npm-zhlevel
	url = git@github.com:zhquiz/npm-zhlevel.git
[submodule "submodules/resource"]
	path = submodules/resource
	url = git@github.com:zhquiz/resource.git