@font-face {
  font-family: 'Noto Serif TC';
  font-display: swap;
  src: url('/fonts/NotoSansCJKtc-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif SC';
  font-display: swap;
  src: url('/fonts/NotoSansCJKsc-Regular.otf') format('opentype');
}

@font-face {
  font-family: HanaMin;
  font-display: swap;
  src: url('/fonts/HanaMinA.ttf') format('truetype'),
    url('/fonts/HanaMinB.ttf') format('truetype');
}

.font-han {
  font-family: 'Noto Serif TC', 'Noto Serif SC', 'HanaMin', sans-serif;
}

.font-zh-simp {
  font-family: 'Noto Serif SC', 'Noto Serif TC', serif;
}

.font-zh-trad {
  font-family: 'Noto Serif TC', 'Noto Serif SC', serif;
}

.hanzi-display {
  font-size: 150px;
}

.vocab-display {
  font-size: 120px;
}

.smaller-vocab-display {
  font-size: 80px;
}

.text-w-normal {
  font-weight: normal !important;
}

.text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: blue;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap > * {
  margin-bottom: 0.25rem;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.mr-4 {
  margin-right: 1rem;
}

button.button:focus,
button.button:active,
button.button.active {
  filter: grayscale(50%) saturate(75%);
}

span.gray-box {
  display: inline-block;
  text-align: center;
  min-width: 1em;
  height: 1.5em;
  color: lightgray;
  background-color: lightgray;
  margin-bottom: -0.3em;
}

.content ul + ul {
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}

x-speak-button {
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .tablet\:w-full {
    width: 100%;
  }
}
