.loading-background {
  opacity: 0;
}

.b-slider {
  margin-bottom: 2em;
}

.b-slider-tick-label {
  margin-top: 1em;
}

.b-tooltip {
  z-index: 10;
}

.card-content {
  overflow: scroll;

  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  &::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
  }
}
