@font-face {
  font-family: 'Hanzi';
  font-display: swap;
  src: url('~@/assets/fonts/HanaMinA.ttf') format('truetype'),
    url('~@/assets/fonts/HanaMinB.ttf') format('truetype');
}

.font-hanzi {
  font-family: 'Hanzi', sans-serif;
}

.loading-background {
  opacity: 0;
}

.text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: blue;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

x-speak-button {
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .tablet\:w-full {
    width: 100%;
  }
}