@font-face {
  font-family: 'Hanzi';
  src: url('~@/assets/fonts/HanaMinA.ttf') format('truetype'),
    url('~@/assets/fonts/HanaMinB.ttf') format('truetype');
}

.font-hanzi {
  font-family: 'Hanzi', sans-serif;
}

.text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;

  &:hover {
    color: blue;
  }
}

.tag + .tag {
  margin-left: 1em;
}